.cl-title {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 750;
  margin-right: auto;
}

.cl-subtitle {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 750;
  margin-right: auto;
  color: gray;
}

.cl-top-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cl-top-header-2 {
  display: flex;
  align-items: center;
}

.cl-top-header-not-logged-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cl-top-header h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cl-top-header > *:not(:first-child) {
  font-size: 2rem;
  margin: 0 15px;
  color: var(--teal);
  cursor: pointer;
}

.slide-item {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.slide-item:focus {
  outline: none;
}

.search-bar {
  position: relative;
}
