.workout-info {
  display: flex;
  margin-top: 5px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.workout-info svg {
  margin: 0 3px;
}

.workout-info p {
  font-weight: bold;
}
