:root {
  --teal: rgb(164, 239, 218);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: var(--teal);
  font-weight: 600;
}

.btn {
  background: transparent;
  color: var(--teal);
  border: solid 1px var(--teal);
  border-radius: 10px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: var(--teal);
  color: white;
  outline: none;
}

.input {
  border: none;
  border-bottom: solid #eee 1px;
  padding: 10px;
  font-weight: 600;
  font-size: 1.1rem;
}

.header {
  font-size: 4rem;
  text-transform: uppercase;
}

.container {
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.block {
  width: 100%;
}

.f-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
